dbc_install='true'
dbc_upgrade='true'
dbc_remove='true'
dbc_dbtype='mysql'
dbc_dbuser='{{ DB_USERNAME }}'
dbc_dbpass= '{{ DB_PASSWORD }}'
dbc_dballow='{{ DATABASE_HOST }}'
dbc_dbserver='{{ DATABASE_HOST }}'
dbc_dbport='3306'
dbc_dbname='pma'
dbc_dbadmin='{{ DB_USERNAME }}'
dbc_basepath=''
dbc_ssl=''
dbc_authmethod_admin=''
dbc_authmethod_user=''