dbc_install='true'
dbc_upgrade='true'
dbc_remove='true'
dbc_dbtype='mysql'
dbc_dbuser='root'
dbc_dbpass= '{{ mysql_root_password }}'
dbc_dballow='localhost'
dbc_dbserver='localhost'
dbc_dbport='3306'
dbc_dbname='pma'
dbc_dbadmin='root'
dbc_basepath=''
dbc_ssl=''
dbc_authmethod_admin=''
dbc_authmethod_user=''